.encabezado {
  background-color: #7765ba; 
  padding: 20px;
  border-radius: 0 0 20px 20px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  height: 200px;
}
.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.encabezado-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.titulo {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.btncerrar {
  background-color: #633356;
  width: 70px;
  height: 70px;
  font-size: 20px;
}
.btncerrar:hover{
  background-color: #a75993;
}


.barra-busqueda {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 5px 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.input-busqueda {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
}


.boton-busqueda {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.icono-lupa {
  width: 20px;
  height: 20px;
}

